
.left-col{
  float: left;
  width: 70%;
}

.article-card{
  background-color: white;
  padding:  1px 25px;

}
.article-img{
  height: auto !important;
  width: 100% !important;
  object-fit: contain;
  display: block;
}
.article-information{
  font-family: "News Cycle", sans-serif;
}

.article-title{
  font-size: 35px;
}
.article-date, .article-author{

  font-weight:lighter;
}
