
html, body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
  background-color: whitesmoke;
}

.list{
  color: black;
  transition: 0.2s ;
}
.list:hover{
  color: white;
}

.navbar{
  overflow: hidden;
  background-color: #727272;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0; 
}

.navbar a{
  float: left;
  font-size: 16px;
  text-align: center;
  padding-right: 40px;
  text-decoration: none;
}



.search-container{
  position: fixed;
  right: 0;
  padding-right: 20px;
  display: flex;
  gap: 8px;
  
}

form.searchbox input[type=text]{
  padding: 10px;
  font-size: 17px;
  border: 1px solid gray;
  float: left;
  width: 200px;

}

form.searchbox button{
  float:right;
  width: 20%;
  padding: 10px;
  background: skyblue;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;

}

form.searchbox button:hover{
  background: #0b7dda;
}
form.searchbox::after{
  content: "";
  clear: both;
  display: table;
}

.news-portion{
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}
.news{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: min-content;
  height: auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  background-color: #ffffff;

}
.card:nth-child(2n){
  flex-basis: 200px;
}
.card:nth-child(2n+1){
  flex-basis: 400px;
}
.card:hover{
  height: auto;
  width: 300px;
  z-index: auto;
}

.container{
  padding: 2px 16px;
  align-items: self-end;
}

.title{
  text-align: left;
  padding: 2px;
  font-size: 20px;
}

.card-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:  10px;
}
.author{
  font-weight: 500;
  color: rgb(98, 98, 98);
  font-style: italic;
}
.thumbnail{
  width: 100%;
  height: auto;
}

.default{
  width: 100%;
  height: 200px;
  background-color: grey;

}

.description{
  text-align: end;
  font-size: 10px;
  color: #312e2e85;
  padding-bottom: 20px;
}

.published-time{
  color: lightskyblue;
  font-size: 12px;
}

.news-link{

  background-color: rgb(70, 32, 218);
  color:rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 7px 10px;
  transition:  0.3s;
  text-decoration: none;

}

.news-link:hover{
  background-color: rgb(154, 134, 232);
  cursor:pointer
}